body {
  font-family: times;
  background: black;
  font-size: 17px;
  line-height: 1.3;
  color: white;
}

a {
  color: lightgreen;
}

.message-form {
  position: fixed;
  box-sizing: border-box;
  padding: 10px;
  bottom: 0;
  left: 0;
  width: 100%;
  background: black;
}

textarea {
  width: 80%;
  height: 55px;
  float: left;
  border: solid 1px white;
  background: black;
  font-size: 16px;
  color: white;
  box-sizing: border-box;
  padding: 10px;
}

.message {
  margin-bottom: 15px;
}

.message .date {
  color: #fff;
}

.message .avatar {
  color: #fff;
}

.message .box {
  color: #ccc;
}

.chatroom button {
  width: 20%;
  height: 56px;
  line-height: 53px;
  float: left;
  border: none;
  background: #333;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.chatroom button:hover {
  background: #555;
}

.chatroom {
  width: 80%;
  margin-bottom: 120px;
}

.chatrooms {
  float: right;
  width: 20%;
  margin-bottom: 80px;
  position: relative;
}

.chatrooms .inner {
  position: fixed;
  top: 0;
  right: 0;
  width: 20%;
}

.green {
  color: lightgreen;
}
